.filebox-container{
    clear: both;
    font-size: 20px;
    border-top: 1px solid blue;
    margin: calc(5px + 1em);
    background-color: grey;
}
.filebox-container:hover{
    outline: 5px solid navy;
}
.filebox-container a{
    display: block;
    background-color: white;
    padding: 1em;
    text-align: center;
    transition: color .2s;
}
.filebox-container a:hover{
    color: brown;
    background-color: lightgrey;
}
.filebox-container a:focus, .filebox-container a:active{
    color: brown;
    outline: 5px solid blue;
    box-shadow: inset 5px 5px 3px orange;
    animation: from-box-shadow-none .3s;
}
.filebox-container .file-icon{
    position: relative;
    width: 100%;
    padding-bottom:87%;/*a ▬*/
    overflow: hidden;
}
.filebox-container .file-icon>*{
    font-size: 10px;
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    width: 100%;
    height: auto;
    margin: auto;
}
.filebox-title, .filebox-container{

    padding: 0;
    list-style: none;
    margin: 0 1em;
    width:calc(100% - 2em);
    padding: 1em;
}
.filebox-title{
    background-color: silver;
}

@keyframes from-box-shadow-none{ from{box-shadow:none} }
.filebox h1{
    margin: 0;
    font-size: 1em;
}
@media screen and (min-width: 900px){
    .filebox{
        width: 300px;
    }
    .filebox, .filebox-title{
        padding: 2em;
    }
}