.m1{ margin: .5rem }
.m2{ margin: 1rem }
.m3{ margin: 1.5rem }
.m4{ margin: 2.5rem }
.p1{ padding: .5rem }
.p2{ padding: 1rem }
.p3{ padding: 1.5rem }
.p4{ padding: 2.5rem }
.card{ box-shadow: 1px 1px 5px -3px black;
transition: box-shadow .5s ease-in-out;
background-color: white; padding: 1rem }
.card--btn{	text-align: left; }
.card--btn:active,
.card--btn:visited,
.card--btn:focus{
	outline: 1px 1px 10px -3px lightblue; box-shadow: 1px 1px 10px -3px black}
	.btn:hover{ background-color: white }