<style>
#permission-table tr>td:first-child{
	font-family: monospace;
	white-space: nowrap;
}
#permission-table>tr>td:first-child::after{
	content:';';
}
</style>
<table id="permission-table" class="table table-stripped">
	<thead>
		<tr><th>permission unique name</th><th>description</th></tr>
	</thead>
	<!--  -->
	<tr>
		<td>view_admin_menu</td>
		<td>
			Show in the sidebar the link to <code>/admin</code>.
			 Having this menu doesn't mean you can access the subpages included in it.
		</td>
	</tr>
	<tr>
		<td>manage_other_users</td>
		<td>
			View all the users stored in the database. Edit, delete or upload.
			This even includes editing itself.
			Also, show the "Manage Users" link in the sidebar.
		</td>
	</tr>
	<tr>
		<td>manage_user_permissions</td>
		<td>
			Change the schema of user roles. Change the permissions assigned to each role, add or remove roles.
			Also, show the "Manage Roles" link in the sidebar.
		</td>
	</tr>
	<tr>
		<td>send_notifications</td>
		<td>
			Send notifications to other users & view the "Notifications" link under "Admin" menú
		</td>
	</tr>
	<tr>
		<td>view_documentation</td>
		<td>
			View the site's documentation. If "view_admin_menu" is not set, the menu will remain invisible.
		</td>
	</tr>
	<tr>
		<td>verbose_exceptions</td>
		<td>
			If it's set, the API exceptions will show in full for the user, meaning that the file and the line number where the error triggered will be displayed alongside the error message. <b>This includes the full output of the SQL queries that failed. Please don't provide that much info to users, keep this only for debugging.</b>
		</td>
	</tr>
	<tr>
		<td>chat_with_all</td>
		<td><b>(1)</b> Let the user(s) in role chat with any user in the system, and <b>(2)</b> view if they are online or offline. <code>[!]</code> This DON'T make all users in the system able to <b>start conversations</b> with the user(s) with this permission (for this implementation, combine with permission "receive_chats_from_all").</td>
	</tr>
	<tr>
		<td>receive_chats_from_all</td>
		<td>All users will see the user(s) with this permission in their "contact list" and will be able to start a chat with user(s) with this permission. <code>[!]</code> If this permission is set but permission above is not, the system might produce errors for the user. ALLWAYS USE only "chat_with_all" or both, never use only this one.</td>
	</tr>
	<tr>
		<td>send_bulkmail</td>
		<td>Access the send bulk mail sub menu (under "admin").</td>
	</tr>
	<tr>
		<td>upload_data</td>
		<td>Upload data to the tables("ledgers", "openpositions", etc).</td>
	</tr>
	<!--  -->
</table>