<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div class="container">
	<div class="jumbotron">
		<h1>404</h1>
		<div class="text-warning">Page not found.</div>
		<hr>
		<p>
			<a href="javascript:history.back()" class="btn btn-flat btn-default"><i class="fa fa-undo"></i> Back</a>
			<a href="/" class="btn btn-flat btn-default"><i class="fa fa-home"></i> Site Index</a>
		</p>
	</div>
</div>