<div class="row">
	<div class="col-xs-12 col-sm-8 col-md-6">
		<div class="box box-solid box-default">
			<div class="box-header">
				<h3 class="box-title">Our Privacy Policy</h3>
			</div>
			<div class="box-body">
				<p>We do not share personal information of any kind with anyone. We will not sell or rent your name or personal information to any third party. We DO NOT sell, rent or provide outside access to our mailing list or any data we store. Any data that a user stores via our facilities is wholly owned by that user or business. At any time a user or business is free to take their data and leave, or to simply delete their data from our facilities.</p>

				<p>We only collects such personal information that is necessary for you to access and use our services. This personal information includes, but is not limited to, first and last name, email address, phone number, financial information and other information such as the user's preferences.</p>

				<p>We may release personal information if we is required to by law, search warrant, subpoena, court order or fraud investigation.</p>

				<h3>Policy changes</h3>
				<p>If we change our privacy policy we will post those changes on this page. Registered users will be sent an email that outlines changes made to the privacy policy.</p>


				<p><strong>Last updated:</strong> April 07th, 2016</p>
			</div>
		</div>
		


	</div>
	<div class="col-xs-12 col-sm-4">
		

		<ul>
		<h4 class="box-title"><i class="fa fa-lock"></i> How we protect your privacy:</h4>
			<li>The files and messages you send in a chat are completely private.</li>
			<li>Administrators of the site don't have access to your password. For exceptional reasons, we can reset it and submit a new one.</li>
		</ul>

	</div>