.user-panel>.info{
    /*the name of the client in the menu was overflowing*/
    white-space: normal;
}
#Message,
.from-bottom{
    will-change: bottom;
    animation: from-bottom .333s ease-in-out;
}
.from-top{
    will-change: top;
    animation: from-top 333ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}
@keyframes from-bottom{ from{bottom:-50px;}}
@keyframes from-top{    from{top:-50px;} to{top:0px}}

big, big::after, big::before{ font-size: 2.2rem!important; }
.slimScrollBar { width: 6px!important }
::selection{
    background-color: rgba(0,0,0,.75)!important;
    color: white!important;
}
/**
 * Loading animation for the .dropdown-menu,
 * via the .loading class
 */
.loading:before, .loading:after{
    position: absolute;
}
.loading:after{
    content: '';
    left: 0; right: 0; top: 0; bottom: 0;
    background: rgba(255,255,255,.9); 
}
.loading:before{
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f3b1";
    top: 1rem; font-size: 4rem;
    width: 25px;
    left: calc(50% - 12px);
    right: calc(50% - 12px);
    z-index: 2;
}

.loading:before, .rotate{
    animation: rotate 1s linear infinite;
    transform: rotate(0deg);
}
@keyframes rotate{
    from{transform: rotate(0deg)}
    to{transform:rotate(360deg)}
}

hr{
    border-top: 1px solid rgba(250,250,250,.75);
    border-bottom: 1px solid rgba(15,15,15,.75);
}

.block{ display: block }
.inline-block{ display: inline-block }
.flex{ display: flex }
.flex-wrap{ flex-wrap: wrap }
.flex-grow{ flex-grow: 1 }
.flex-space-around{ justify-content: space-around }
.flex-space-between{ justify-content: space-between }

.ov-hidden { overflow: hidden }
.bg-black   { background-color: rgb(15,15,15) }
.bg-black-25{ background-color: rgba(15,15,15,.25) }
.bg-black-50{ background-color: rgba(15,15,15,.5) }
.bg-black-75{ background-color: rgba(15,15,15,.75) }
.bg-white   { background-color: rgb(250,250,250) }
.bg-white-25{ background-color: rgba(250,250,250,.25) }
.bg-white-50{ background-color: rgba(250,250,250,.5) }
.bg-white-75{ background-color: rgba(250,250,250,.75) }

.black-25{ color: rgba(15,15,15,.25) }
.black-50{ color: rgba(15,15,15,.5) }
.black-75{ color: rgba(15,15,15,.75) }
.black   { color: rgb(15,15,15) }
.white-25{ color: rgba(250,250,250,.25) }
.white-50{ color: rgba(250,250,250,.5) }
.white-75{ color: rgba(250,250,250,.75) }
.white   { color: rgb(250,250,250) }


.p-fixed{ position: fixed }
.p-relative{ position: relative }
.p-absolute{ position: absolute }

.top-auto{ top: auto }
.bottom-auto{ bottom: auto }
.left-auto{ left: auto }
.right-auto{ right: auto }

.top-0{ top: 0 }
.bottom-0{ bottom: 0 }
.left-0{ left: 0 }
.right-0{ right: 0 }

.px1{ padding-left: 1rem; padding-right: 1rem }
.px2{ padding-left: 2rem; padding-right: 2rem }
.py1{ padding-top: 1rem; padding-bottom: 1rem }
.py2{ padding-top: 2rem; padding-bottom: 2rem }

.mx1{ margin-left: 1rem; margin-right: 1rem }
.mx2{ margin-left: 2rem; margin-right: 2rem }
.my1{ margin-top: 1rem; margin-bottom: 1rem }
.my2{ margin-top: 2rem; margin-bottom: 2rem }

.z-1000{ z-index:1051; } /*display on top of modals*/

.nowrap{ white-space:nowrap }
.pre-line{ white-space: pre-line }

.pointer{ cursor:pointer }

.border{ border:1px solid }

.o-25{ opacity: .25; }
.o-50{ opacity: .5; }
.o-75{ opacity: .75; }